

body {
    background-color: rgba(255, 228, 196, 1.0); 

    background-image: url("https://picsum.photos/1920/1080");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    font-optical-sizing:auto ;
    margin: 0;
}

h1 {
    color: blueviolet;
    margin-left: 30px;
    text-align: center;
}

p {
    color: blue;
    text-align: center;
}




section {
    background-color: rgba(255, 255, 255, 0.9);

    margin: 30px auto;
    padding: 30px;

    width: 80%;

    border-radius: 15px;
}




h2 {
    color: blueviolet;
    text-align: center;
}

h3 {
    color: darkviolet;
}




ul {
    text-align: center;
    list-style-position: inside;
}

li {
    margin: 10px;
}




.project {
    background-color: #f0e6ff;

    margin: 15px;
    padding: 15px;

    border-radius: 10px;
}

.project p {
    color: #333;
}




#contact p {
    color: #333;
}




footer {
    background-color: #333;

    padding: 20px;

    text-align: center;
}

footer p {
    color: white;
}




.project:hover {
    background-color: #e0ccff;
}